pandas
numpy
scikit-learn
flask
flask_restful
scipy
sqlalchemy
matplotlib
seaborn
spacy==3.8.7
textdescriptives==2.8.4
gensim
einops 
torch
transformers
tqdm
accelerate
pyarrow==14.0.2
pandas==2.1.4
requests
bs4
bitsandbytes
dialz
random